.box {
	margin-right: 40px;
	margin-bottom: 20px;
	width: 20%;
}

.center {
	position: relative;
	left: 4%;
}

@media screen and (max-width: 1080px) {
    .box {
		width: 40%;
	}
}

@media screen and (max-width: 533px) {
    .box {
		width: 80%;
	}
}

hr {
	margin-top: 15px;
	margin-bottom: 10px;
}

span.glyphicon-heart {
	color: #ff7070;
}

span.glyphicon-heart:hover {
	color: #ea0000;
}

.modal-footer {
	margin-top: -20px;
}

.col-md-6 > p {
	margin-top: 10px;
}

.pager li>a.inverse {
	color: white;
	background-color: #337ab7;
	border: none;
}

.pager li>a.inverse:hover {
	background-color: #2e6da4;
}