body {
	text-align: center;
}
h1 {
	text-transform: uppercase;
}

p {
	color: rgba(0,0,0,.5);
}

.navbar {
	margin-bottom: 0;
}


/* Carousel base class */
.carousel {
	height: 550px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 550px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

.carousel-caption {
	bottom: 170px;
}

.search form {
	text-align: center;
}

.search input[type="submit"] {
    color: #FFF;
    background: #c0d7e9;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: .8em 2em;
    text-transform: uppercase;
    width: 50%;
}

/*.search input[type="text"]*/
textarea {
    color: #C8C8C8;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #eee;
    padding: .8em;
    font-size: 15px;
    width: 50%;
}

.line {
	width: 60%;
	background-color: rgba(0,0,0,.1);
	height: 2px;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 40px;
}

@media screen and (max-width: 978px) {
	.carousel {
		height: 400px;
	}
	.carousel .item {
		height: 400px;
	}
	.carousel-caption {
		bottom: 20px;
	}
}

@media screen and (max-width: 712px) {
	.carousel {
		height: 300px;
		margin-bottom: 0px;
	}
	.carousel .item {
		height: 300px;
	}
	h4 {
		font-weight: normal;
	}
}

@media screen and (max-width: 533px) {
	.carousel {
		height: 180px;
		margin-bottom: 0px;
	}
	.carousel .item {
		height: 180px;
	}
	.carousel-caption {
		bottom: 10px;
	}
	.carousel-indicators {
		bottom: 0px;
	}
	.line {
		width: 90%;
		margin-left: 5%;
	}
	.search input[type="submit"] {
	    width: 90%;
	}

	/*.search input[type="text"]*/
	textarea {
		width: 90%;
	}
}

@media screen and (min-width: 533px) {
	p {
		font-size: 15px;
	}
	h4 {
		font-size: 13px;
	}
	.cover {
		margin-top: 40px;
	}
	.container.function {
		margin-bottom: 40px;
	}
}